@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-950 text-gray-100;
  background-color: #0f172a;
  min-height: 100vh;
  font-feature-settings: "liga" 1, "calt" 1;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-full;
}
